*{
    text-decoration: none;
}
.nav{
    background-color: rgb(179, 118, 26);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: space-between;
    display: flex;
}
.logo {
     display: flex;
      text-align: center;
      
    }