/* .gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 10px;
}
 */





 .gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
      gap: 10px; /* Space between images */
      padding: 10px;
    }

    .gallery img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 5px;
    }